* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

/* p {
  font-size: 16px;
} */

.main {
  background-color: red;
  width: 600px;
  height: 500px;
}

.em-p {
  font-size: 24px;
}
.em {
  font-size: 1.6em;
}

.rem {
  font-size: 1.6rem;
}

main {
  width: 50vw;
  height: 50vh;
  background-color: purple;
}

.section-m {
  width: 80%;
  min-width: 320px;
  max-width: 500px;
  min-height: 400px;
  margin: 0 auto;
  background-color: red;
  font-size: 1.6rem;
}
