.main-nav {
  margin-top: 10px;
  list-style: none;
  padding: 8px;
  border-radius: 4px;
  background-color: #13a4a4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.main-nav__item {
  display: inline-block;
}

.main-nav__item a {
  color: white;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-decoration: none;
}

.main-nav__item a:hover {
  color: blue;
}

.main-nav__item a:active {
  color: red;
}

.main-nav__item a::after {
  content: " | ";
}
