* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background: rgb(180, 206, 255);
  padding: 16px;
}

.logo {
  display: grid;
  place-content: center;
}

ul {
  display: flex;
}

li {
  list-style: none;
  padding: 8px;
}

section {
  display: flex;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 20%;
  background: rgb(250, 164, 164);
  padding: 16px;
}

.cluster {
  width: 100%;
  height: 100px;
  border-radius: 16px;
  background: #eab0fc;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

main {
  width: 80%;
  background: #727272;
  padding: 16px;
}

footer {
  display: flex;
  justify-content: space-between;
  background: #e9f38c;
  padding: 16px;
}
